@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  color: #222;
}

/* Navbar */
.nav {
  display: flex;
  posision: fixed;
  justify-content: space-between;
  padding: 20px 40px;
  background: #261d1d;
}

.nav h2, .nav a {
  posision: fixed;
  color: #878585;
  text-decoration: none;
  margin-left: 15px;
  transition: 1s ease;
}
.nav h2{
    
    transition: .5s ease;
    color: rgb(0, 194, 252);
    font-size: 20px;
}
 .nav a:hover{
    transition: .5s ease;
    color: rgb(0, 194, 252);
    font-size: 20px;
    transition: 1s ease;
    text-decoration: underline;
}

/* Hero */
.hero {
  height: 90vh;
  background: url(my\ web.png);
  background-repeat: no-repeat;
  background-size: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero span {
  color: #ffeb3b;
}

.btn {
  margin-top: 20px;
  padding: 12px 30px;
  background: #3f3f3f;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 6px;
    transition: 1s ease;
}
.btn:hover{
    background-color: white;
    color: #111;
    transition: 1s ease;
    box-shadow: -10px 10px 10px -10px white;
    width: 150px;
    height: 50px;
    font-size: 23px;
}

/* Sections */
.section {
  padding: 70px 20px;
  background-color: #6e6e6e;
  text-align: center;
}
.section1{
  
  padding: 70px 20px;
  background-color: #6e6e6e;
  color: white;
  text-align: center;

}

.dark {
  background: #f4f4f4;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin-top: 70px;
}

.card {
  padding: 30px;
  background: rgb(89, 88, 88);
  color: white;
  border-radius: 10px;
  box-shadow: 10px 5px 10px 15px rgba(76, 76, 76, 0.1);
}
.card1{
    
  padding: 30px;
  background: white;
  color: rgb(89, 88, 88);
  border-radius: 10px;
  box-shadow: 0 5px 15px white;

}

/* Footer */
footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 15px;
}

.section1 h2{
    margin-bottom: 50px;
}


.section1 a{
  padding-top: 20px;
  text-decoration: none;
  color: rgb(197, 195, 195);
}

.section1 a:hover{
  color: #f8f6f6;
}



/* Responsive */
@media (max-width: 600px) {
  .nav {
    font-size: small;
    position: relative;
    flex-direction: column;
    text-align: center;
  }
}




